* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*  section header task team */

.section_header_task_team {
    width: 100%;
    height: 40rem;
    padding-top: 10rem;
    background: url('images/bg-header-desktop.png') no-repeat center center/cover;
}

.section_header_task_team .content {
    text-align: center;
}

.section_header_task_team .content .logo img {
    max-width: 10rem;
    margin-bottom: 5rem;
}

.section_header_task_team .content .title {
    text-align: center;
    font-size: 3rem;
    color: #666;
}

.section_header_task_team .content .text {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
    width: 45%;
    margin: 0 auto;
    line-height: 4rem;
}

.section_header_task_team .content .buttoms {
    text-align: center;
    margin-top: 3rem 0;
    padding-top: 3rem;
}

.section_header_task_team .content .buttoms .buttom1 {
    padding: 12px 40px;
    background-color: #9686FF;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 25px;
    margin-right: 2rem;
    display: inline-block;
}

.section_header_task_team .content .buttoms .buttom1:hover {
    background-color: #9686d9;
    transition: 0.4s;
}

.section_header_task_team .content .buttoms .buttom2 {
    padding: 0 0 0 5rem;
    padding: 12px 40px;
    background-color: #008006;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 25px;
}

.section_header_task_team .content .buttoms .buttom2:hover {
    background-color: #008000;
    transition: .9s;
}

/* section task team two*/

.section_task_team_two .content .title {
    text-align: center;
    padding-top: 16rem;
    font-size: 2.5rem;
}

.section_task_team_two .content .text {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
    width: 45%;
    margin: 0 auto;
    line-height: 4rem;
}

/* section Specifications imac */

.section_Specifications_imac .content .image {
    padding-top: 5rem;
    display: inline-block;
}

.section_Specifications_imac .content .boxes {
    display: inline-block;
    margin-right: 16rem;
    margin-top: 8.5rem;
}

.section_Specifications_imac .content .boxes {
    float: right;
}

.section_Specifications_imac .content .boxes .box .title {
    font-size: 2.5rem;
}

.section_Specifications_imac .content .boxes .box .text {
    font-size: 1.5rem;
    width: 60%;
    line-height: 3rem;
    margin-bottom: 6rem;
    color: #999;
}

/* section task team three */

.section_task_team_three .content .title {
    padding-top: 10rem;
    text-align: center;
    font-size: 3rem;
}

.section_task_team_three .content .text {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
    width: 45%;
    margin: 0 auto;
    line-height: 4rem;
}

.section_task_team_three .image {
    text-align: center;
    margin-top: 10rem;
}

/*  section Advertising  */

.section_Advertising .content .title {
    text-align: center;
    font-size: 3.7rem;
}

.section_Advertising .content .text {
    text-align: center;
    color: #888;
    font-size: 2rem;
    margin-top: 2rem;
}

/* section_Advertising_colc3 */

.section_Advertising_colc3 .content .boxes .box {
    width: calc(30% - 112px);
    margin: 45px 80px;
    float: left;
    text-align: center;
    padding: 20px;
}

.section_Advertising_colc3 .content .boxes .box .image {
    margin-bottom: 1.5rem;
}

.section_Advertising_colc3 .content .boxes .box .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.section_Advertising_colc3 .content .boxes .box .text {
    font-size: 1.5rem;
    line-height: 3rem;
}

/* section_big_company */

.section_big_company .content .boxes .box {
    width: calc(25% - 20px);
    margin: 20px 10px;
    float: left;
    text-align: center;
    padding: 20px;
    margin-top: 5rem;
}

.section_big_company .content .boxes .box .image {
    margin-bottom: 1.5rem;
}

.section_big_company .content .boxes .box .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.section_big_company.content .boxes .box .text {
    font-size: 1.5rem;
    line-height: 3rem;
}

/*  section end page */

.section_end_page .content .title {
    text-align: center;
    font-size: 3rem;
    color: #666;
    margin-top: 8rem;
}

.section_end_page .content .text {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
    width: 45%;
    margin: 0 auto;
    line-height: 4rem;
}

.section_end_page .content .buttoms {
    text-align: center;
    margin: 3rem 0 6rem 0;
}

.section_end_page .content .buttoms .buttom1 {
    padding: 12px 40px;
    background-color: #9686FF;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 25px;
    margin-right: 2rem;
    display: inline-block;
}

.section_end_page .content .buttoms .buttom1:hover {
    background-color: #9686d9;
    transition: 0.4s;
}

.section_end_page .content .buttoms .buttom2 {
    padding: 0 0 0 5rem;
    padding: 12px 40px;
    background-color: #008006;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 25px;
}

.section_end_page .content .buttoms .buttom2:hover {
    background-color: darkgreen;
    transition: .9s;
}